* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Made Tommy Outline';
  src: url('./assets/font/made-tommy-outline/MADE\ TOMMY\ Medium\ Outline_PERSONAL\ USE.otf') format('truetype'); /* Specify the path to your font file */
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #FFF;
  background: #150E28;
  scroll-behavior: smooth;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-made-tommy-outline {
  font-family: 'Made Tommy Outline', sans-serif;
}

.font-clash-display {
  font-family: 'Clash Display', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-unica-one {
  font-family: 'Unica One', cursive;
}

.section-hero {
  background-color: #150E28;
  background-image: 
    url('./assets/img/Purple-Lens-Flare-PNG.png'), 
    url('./assets/img/metrix\ 1.png'),
    url('./assets/img/Purple-Lens-Flare-PNG\ \(1\).png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left top, right center, right top;
  background-size: contain;
  background-blend-mode: hard-light, luminosity, hard-light;
}

.section {
  background-color: #150E28;
  background-image: 
    url('./assets/img/Purple-Lens-Flare-PNG.png'), 
    url('./assets/img/Purple-Lens-Flare-PNG\ \(1\).png');
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right top;
  background-size: contain;
  background-blend-mode: hard-light;
}

.border-bt {
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.section-one {
  background-color: #150E28;
  background-image: 
    url('./assets/img/Purple-Lens-Flare-PNG.png'), 
    url('./assets/img/Purple-Lens-Flare-PNG\ \(1\).png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto;
  background-blend-mode: hard-light;
}

.section-plain {
  background-color: #150E28;
  background-size: contain;
}

.nav {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  align-items: center;
}

.heading {
  line-height: normal;
}

.heading span::after {
  content: url(./assets/img/Creative\ 1.png);
  position: absolute;
  margin-top: -50px;
  margin-left: -30px;
}

.idea::after {
  content: url(./assets/img/arrow.png);
  display: flex;
  justify-content: end;
}

.criteria::before {
  content: url(./assets/svg/Ellipse\ 2.svg);
  display: flex;
  position: absolute;
  margin-left: 70px;
}

.faq::after {
  margin-top: 50%;
  margin-left: 50%;
}

.faq-two::after {
  margin-left: -50%;
}

.faq::after,
.faq-two::after {
  content: url(./assets/img/sata\ gra2.png);
  position: absolute;
}

.circle {
  border-radius: 26.5px;
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
}

.sponsor::before {
  content: url(./assets/img/star\ pu2.png);
  position: absolute;
  margin-top: -45px;
}

.part,
.parts {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.part::after {
  content: '';
  width: 257.298px;
  height: 4px;
  background: #D434FE;
  display: block;
  margin-top: 22.73px;
}

.parts::after {
  content: '';
  width: 257.298px;
  height: 4px;
  background: transparent;
  display: block;
  margin-top: -10px;
}

.hi::before {
  content: url(./assets/img/star\ pu2.png);
  display: flex;
  align-self: end;
  margin-bottom: 150px;
}

.registration .nav .nav__contact,
.contact .nav .nav__contact {
  background: linear-gradient(90deg, #903AFF 3.08%, #FF26B9 93.85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.registration .nav button {
  background: inherit;
  border: 2px solid transparent;
  border-image: linear-gradient(270deg, #903AFF 0%, #FE34B9 100%);
  border-image-slice: 1;
  border-radius: 8px;
}

.registration .nav,
.contact .nav {
  border-bottom: none;
  padding: 63px 127px 0px 127px;
}

.registration .contact-box {
  padding: 18px 75px 65px 75px;
}

.contact-box {
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 75px 90px 67px 90px;
}

input, 
select {
  border-radius: 4px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 47px;
  padding: 13px 29px 14px 29px;
}

textarea {
  height: 119px;
  border-radius: 4px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


textarea::placeholder,
input::placeholder {
  color: white;
  font-weight: 400;
}

textarea:focus,
input:focus {
  outline: none;
}

.walk {
  border-bottom: 1px dotted #D434FE;
  width: 101px;
  justify-content: center;
}

.registration form input::placeholder {
  color: rgba(255, 255, 255, 0.25);
  font-size: 14px;
}

.MuiDialog-paper {
  border-radius: 5px !important;
  border: 1px solid #D434FE;
  background: rgba(255, 255, 255, 0.01) !important;
  padding: 20px 71px 20px 54px;
  color: #FFF !important;
  max-width: 699px !important;
}

.MuiDialogContent-root {
  padding: 0 !important;
}

.MuiDrawer-paper {
  background-color: #150E28 !important;
  border-radius: 8px;
  border: 0.5px solid rgba(255, 255, 255, 0.04);
  color: #FFF !important;
  box-shadow: none !important;
  width: 89.2%;
}

/* RESPOSIVE BREAKPOINT */
@media (max-width:1200px) {
  .nav {
    padding: 28px 50px;
    justify-content: space-between;
  }

  .section-hero {
    background-image: url(./assets/img/Purple-Lens-Flare-PNG.png);
  }

  .heading span::after {
    content: url(./assets/svg/Creative\ 1.svg);
    margin-top: -20px;
    margin-left: -20px;
  }

  .idea::after {
    content: url(./assets/img/arrow-sm.png);
    margin-top: 10px;
    justify-content: center;
    margin-bottom: 22.15px;
  }

  .criteria::before {
    content: '';
  }

  .faq::after,
  .faq-two::after {
    content: url(./assets/img/sata\ gra3.png);
  }

  .faq::after {
    margin-top: 100%;
    margin-left: 100%;
  }

  .faq-two::after {
    margin-top: -60%;
  }

  .sponsor::before {
    content: url(./assets/img/star\ pu-sm.png);
    margin-top: 0px;
    margin-left: 22px;
  }

  .part::after {
    width: 68.271px;
    height: 2px;
    margin-top: 0px;
  }

  .parts::after {
    display: none;
  }

  .part, .parts {
    width: 100%;
  }

  .hi::before {
    display: none;
  }

  .contact .nav {
    display: none;
  }

  .contact-box {
    background: inherit;
    box-shadow: none;
    padding: 0% 5%;
  }

  input, 
  select {
    padding: 13px 24px;
  }
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
